[core]
  excludesfile = ~/.gitignore_global
  editor = vim
  autocrlf = input

[alias]
  branches = branch -a
  brs = branch -a
  br = branch
  remotes = remote -v
  rems = remote -v
  rem = remote
  stashes = stash list
  sts = stash list
  sta = stash
  stashall = stash -u
  tags = tag
  summary = show --summary
  sum = show --summary
  st = status
  slog = log --oneline
  mlog = log --format=format:'%C(yellow)%h %C(white)%s %Cgreen(%ar by %an) %Cred%d'

  # backup current state. but will not save diff between staged and not staged.
  save = !git stash -u && git stash apply stash@{0} --index && git add . && git commit -m 'save commit' && git reset --hard HEAD~ && git stash pop --index

  cloneempty = clone --filter=blob:none --no-checkout
  unstage = reset -q HEAD --
  discard = checkout --
  uncommit = reset --mixed HEAD~
  amend = commit --amend
  co = checkout
  fetchp = fetch --prune
  desc = describe --tags
  cp = cherry-pick -x

  nevermind = !git reset --hard HEAD && git clean -d -f :/
  nvm = !git reset --hard HEAD && git clean -d -f :/
  superclean = !git reset --hard HEAD && git clean -xdf -f :/

  graph = log --graph -100 --branches --remotes --tags --format=format:'%Cgreen%h %Creset %<(75,trunc)%s (%aN, %ar) %Cred%d'
  graphd = log --graph -100 --branches --remotes --tags --format=format:'%Cgreen%h %Creset %<(75,trunc)%s (%aN, %ar) %Cred%d' --date-order
  graphb = log --graph -100 --format=format:'%Cgreen%h %Creset %<(75,trunc)%s (%aN, %ar) %Cred%d'
  graphbb = log --graph -100 --branches --format=format:'%Cgreen%h %Creset %<(75,trunc)%s (%aN, %ar) %Cred%d'
  graphbbb = !git log --graph -100 --format=format:'%Cgreen%h %Creset %<(75,trunc)%s (%aN, %ar) %Cred%d' $(git for-each-ref --format='%(refname:short) %(upstream:short)' refs/heads)
  graphs = log --graph -100 --format=format:'%Cgreen%h %Creset %<(75,trunc)%s (%aN, %ar) %Cred%d' --first-parent
  whatadded = log --diff-filter=A

  precommit = diff --cached --diff-algorithm=minimal -w

  please = push --force-with-lease

  difflist = diff --name-only

[merge]
  tool = vimdiff
  conflictstyle = diff3

[mergetool]
  prompt = false

[pull]
  rebase = preserve
  ; rebase = merges  ; for newer git.

[push]
  default = simple

[rebase]
  autoStash = true

[diff]
  renames = true

[log]
  date = iso-local

[rerere]
  enabled = true

[user]
  ; email = farhanmustar@gmail.com
  ; name = Farhan Mustar
