"" Source your .vimrc
"source ~/.vimrc

"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=5

" Do incremental searching.
set incsearch

set ignorecase	" Do case insensitive matching
set smartcase		" Do smart case matching

" Don't use Ex mode, use Q for formatting.
map Q gq


"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
map <leader>af <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)


" Find more examples here: https://jb.gg/share-ideavimrc

map <Space> <Leader>
nnoremap gq :tabc<CR>

" Allow you to easily search the current word.
nnoremap <Leader>ff yiw/<C-r>"<CR>
vnoremap <Leader>ff y/<C-r>"<CR>

" pane navigation
nnoremap <C-h> <C-w>h
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k
nnoremap <C-l> <C-w>l

" Avoid pressing shift key to switch to previous tab
noremap gr gT

vmap gc <Action>(CommentByLineComment)
nmap gcc <Action>(CommentByLineComment)

nmap <C-Space> <Action>(FileChooser.TogglePathShowing)

" Stay in visual mode when indenting. You will never have to run gv after performing an indentation.
vnoremap < <gv
vnoremap > >gv
